h1{
	color: tomato;
}

p{
	font-family: "Times new roman", sans-serif;
	background-color: tomato;
	width: 200px;
}

img{
	margin-left: 390px;
	height: 250px;
	width: 120px;
}

button{
	margin-left: 250px;
	background-color: #000000;
	color: #FFFFFF;
	border: 2px inset tomato;
}